.certification {
  background: linear-gradient(to bottom, var(--bg-primary), var(--bg-tertiary));
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.column {
  justify-items: left;
  margin: 0 auto;
  width: fit-content;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
  }
}
