.certification {
  /* background-color: #f8f9fa; */
  background: linear-gradient(to bottom, #e9ecef, #ffffff);
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(to bottom, #2a2a3a, #1e1e2e);
  }
  /* background-color: #2a2a3a; */
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.column {
  justify-items: left;
  margin: 0 auto;
  width: fit-content;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
  }
}
