.education {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: linear-gradient(to bottom, var(--bg-tertiary), var(--bg-primary));
}

.itemColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.one {
  flex: 1 1 1;
}

.two {
  flex: 2 1 1;
  text-align: justify;

  @media (max-width: 1000px) {
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.two h4 {
  margin-bottom: 0;
}

.two p {
  margin-bottom: 0;
  margin-top: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.skills p {
  margin-right: 20px;
  color: white;
  background-color: var(--heading-color);
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: smaller;
}
