.experience {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: linear-gradient(to bottom, var(--bg-primary), var(--bg-tertiary));
}

.timeline {
  @media (min-width: 1000px) {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
