.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--heading-color),
    var(--bg-primary)
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scroll */
  width: 100%;
}

/* Main Layout */
.columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Ensure content is centered vertically */
  gap: 40px; /* Space between image and text */
  text-align: left;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

/* Image */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 500px;
  max-width: 100%;
}

/* Text Section */
.textContainer {
  max-width: 400px; /* Ensure the text container doesn't shrink */
  min-width: 400px; /* Fixed width to avoid movement */
  text-align: left;
}

/* Prevent Typed Text from Changing Width */
.typedWrapper {
  display: inline-block;
  min-width: 220px; /* Adjust based on the longest sentence */
}

/* Text Styling */
.hero h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevents text from wrapping */
  color: var(--text-color);

  @media (max-width: 600px) {
    font-size: 2rem;
    white-space: normal;
    text-align: center;
  }
}

.hero h2 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 15px;
  color: var(--text-color);

  @media (max-width: 600px) {
    font-size: 1.5rem;
    white-space: normal;
    text-align: center;
  }
}

/* Button */
.heroButton {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.1rem;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.heroButton:hover {
  background: rgba(255, 255, 255, 0.4);
}

.langToggle {
  position: absolute;
  top: 10px;
  right: 140px;
  width: 60px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  padding: 2px;
}

.langToggle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.langIndicator {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, background 0.3s;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 1.2rem;
}

.langIndicator.pt {
  transform: translateX(28px);
}
