.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1000px) {
    flex-direction: row;
    margin: 0 20rem;
  }
}

.item {
  flex-direction: column;
}
