.projects {
  padding-bottom: calc(10vh - 5rem);
  background: linear-gradient(to bottom, var(--bg-tertiary), var(--bg-primary));
}

/* Main Heading Styling */
.projects h2 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  letter-spacing: 1px;
  background: linear-gradient(
    135deg,
    var(--heading-color),
    var(--subheading-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Underline Effect */
.projects h2::after {
  content: '';
  width: 80px;
  height: 5px;
  background: var(--heading-color);
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border-radius: 4px;
}

/* Subheading */
.projects h3 {
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 40px;
}
