.skills {
  /* padding-top: 10vh; */
  padding-bottom: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  background: linear-gradient(to bottom, var(--bg-tertiary), var(--bg-primary));
}

/* Main Heading Styling */
.skills h2 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  letter-spacing: 1px;
  background: linear-gradient(
    135deg,
    var(--heading-color),
    var(--subheading-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Underline Effect */
.skills h2::after {
  content: '';
  width: 80px;
  height: 5px;
  background: var(--heading-color);
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border-radius: 4px;
}

/* Subheading */
.skills h3 {
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 40px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Automatically adjust columns */
  gap: 15px;
  max-width: 100%; /* Ensure it fills the available space */
  margin: 0 auto;
  justify-content: center; /* Ensure the content is centered */
  place-items: center; /* Centers items inside each grid cell */
  text-align: center; /* Ensures text is centered */
}

/* Skill Box */
.skillBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 12px;
  background-color: transparent;
  background-image: linear-gradient(var(--bg-primary), var(--bg-primary)),
    linear-gradient(135deg, var(--heading-color), var(--subheading-color));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100px;
  height: 100px;
}

/* Hover Effect */
.skillBox:hover {
  transform: scale(1.08);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Icons */
.logoBox {
  width: 50px; /* Set desired width */
  height: 50px; /* Set desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Prevents distortion and centers image */
}

.iconBox {
  font-size: 2.5rem;
}

/* Text */
.skillBox p {
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 5px;
}
